In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
import _sqlite3

In [23]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import inspect,func

In [25]:
# path to sqlite
database_path = "Resources/car_data.sqlite"

In [26]:
# create engine that take the database
engine = create_engine(f"sqlite:///{database_path}")
engine

Engine(sqlite:///Resources/car_data.sqlite)

In [ ]:
# Query All Records in the the Database
data = engine.execute("SELECT * FROM electric_car_data;")
for record in data:
    print(record)

In [ ]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine,reflect = True)

In [19]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [17]:

# create engine that take the database
engine = create_engine("sqlite:///{car_data.sqlite}")
conn = engine.connect()
conn

In [ ]:
data = engine.execute("select * from electric_car_data")
for record in data:
    print(record)

In [181]:
engine

Engine(sqlite:///{database_path})

In [15]:
Base = automap_base()
# reflect the tables
Base.prepare(engine,reflect = True)

In [14]:
session = Session(engine)
session

In [157]:
# data = pd.read_csv("Resources/electric_car_data.csv")
# data

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Make,Model,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
0,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
1,Plug-in Hybrid Electric Vehicle (PHEV),1G1RB6S53H,2017,CHEVROLET,Volt,53.0,New,37570,January 13 2017,Original Title,February 22 2017,2017,RENTON,WA,98055.0
2,Plug-in Hybrid Electric Vehicle (PHEV),5UXKT0C55J,2018,BMW,X5,13.0,Used,46495,January 26 2021,Transfer Title,February 23 2021,2021,RENTON,WA,98055.0
3,Battery Electric Vehicle (BEV),7SAXCAE51P,2023,TESLA,Model X,0.0,New,109790,October 15 2022,Original Title,November 03 2022,2022,VANCOUVER,WA,98664.0
4,Battery Electric Vehicle (BEV),KNDC4DLC1P,2023,KIA,EV6,0.0,New,59485,April 18 2023,Original Title,May 02 2023,2023,SEATTLE,WA,98115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221427,Battery Electric Vehicle (BEV),5YJSA1CG1D,2013,TESLA,Model S,208.0,New,0,May 09 2013,Original Registration,June 06 2013,2013,SEATTLE,WA,98119.0
221428,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
221429,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
221430,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
221431,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [ ]:
# load csv file electric_vehicle_title
electric_vehicle_title_df = pd.read_csv("Resources/electric_vehicle_title_registration.csv")
electric_vehicle_title_df

In [95]:
# Clean DataFrame  Dropping columns unclear
drop_clumns = electric_vehicle_title_df.drop(columns=['Meets 2019 HB 2042 Sale Price/Value Requirement', 'Transportation Electrification Fee Paid', 'Hybrid Vehicle Electrification Fee Paid', 'Transportation Electrification Fee Paid'])
drop_clumns

,Clean Alternative Fuel Vehicle Type,VIN (1-10),DOL Vehicle ID,Model Year,Make,Model,Vehicle Primary Use,Electric Range,Odometer Reading,Odometer Code,...,2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility,Meets 2019 HB 2042 Electric Range Requirement,Meets 2019 HB 2042 Sale Date Requirement,2019 HB 2042: Battery Range Requirement,2019 HB 2042: Purchase Date Requirement,2019 HB 2042: Sale Price/Value Requirement,Electric Vehicle Fee Paid,2020 Census Tract,Legislative District,Electric Utility
0,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,142240136,2012,CHEVROLET,Volt,Passenger,35.0,0,Odometer reading is not collected at time of r...,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",Yes,5.303302e+10,48.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
1,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,142240136,2012,CHEVROLET,Volt,Passenger,35.0,0,Odometer reading is not collected at time of r...,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",Yes,5.303302e+10,48.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,196972009,2018,TESLA,Model 3,Passenger,215.0,50,Actual Mileage,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,Sale before August 2019,Sale price too high,Not Applicable,5.303300e+10,43.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)
3,Battery Electric Vehicle (BEV),5YJ3E1EA0J,196972009,2018,TESLA,Model 3,Passenger,215.0,0,Odometer reading is not collected at time of r...,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",No,5.303300e+10,43.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)
4,Battery Electric Vehicle (BEV),5YJ3E1EA0J,196972009,2018,TESLA,Model 3,Passenger,215.0,0,Odometer reading is not collected at time of r...,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",Yes,5.303300e+10,43.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,121047804,2013,NISSAN,Leaf,Passenger,75.0,10967,Actual Mileage,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",No,5.306105e+10,21.0,PUGET SOUND ENERGY INC
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,121047804,2013,NISSAN,Leaf,Passenger,75.0,10967,Actual Mileage,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,Sale before August 2019,Sale price not available,Not Applicable,5.306105e+10,21.0,PUGET SOUND ENERGY INC
740271,Battery Electric Vehicle (BEV),1N4AZ0CP2D,121047804,2013,NISSAN,Leaf,Passenger,75.0,10967,Actual Mileage,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",Yes,5.306105e+10,21.0,PUGET SOUND ENERGY INC
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,144032402,2013,NISSAN,Leaf,Passenger,75.0,8,Actual Mileage,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",No,5.303303e+10,30.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,144032402,2013,NISSAN,Leaf,Passenger,75.0,8,Actual Mileage,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,Sale before August 2019,Sale price not available,Not Applicable,5.303303e+10,30.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)

In [96]:
# Clean DataFrame  Dropping columns unclear
clean_data1= drop_clumns.drop(columns=['Odometer Reading', 'Odometer Reading', '2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Vehicle Fee Paid','2015 HB 2778 Exemption Eligibility','Meets 2019 HB 2042 Electric Range Requirement','Meets 2019 HB 2042 Sale Date Requirement','2019 HB 2042: Battery Range Requirement'
,'2019 HB 2042: Purchase Date Requirement','2019 HB 2042: Sale Price/Value Requirement','2019 HB 2042: Purchase Date Requirement','2019 HB 2042: Sale Price/Value Requirement','2020 Census Tract','Legislative District','Electric Utility','County','Odometer Code','DOL Vehicle ID','Base MSRP','Odometer Reading', 'Odometer Reading', '2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Vehicle Fee Paid'])
clean_data1

,Clean Alternative Fuel Vehicle Type,VIN (1-10),Model Year,Make,Model,Vehicle Primary Use,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
0,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,Passenger,35.0,Used,0,NaN,Registration Renewal,July 10 2020,2020,BELLEVUE,WA,98007.0
1,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,Passenger,35.0,Used,0,NaN,Registration Renewal,July 23 2021,2021,BELLEVUE,WA,98007.0
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
3,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,New,0,NaN,Original Registration,June 06 2018,2018,SEATTLE,WA,98105.0
4,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,Used,0,NaN,Registration Renewal,April 18 2019,2019,SEATTLE,WA,98105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
740271,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,NaN,Registration Renewal,August 04 2016,2016,LYNNWOOD,WA,98037.0
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,Passenger,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,Passenger,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [98]:
# drop column 'Vehicle Primary Use
clean_data= clean_data1.drop(columns=['Vehicle Primary Use'])
clean_data

,Clean Alternative Fuel Vehicle Type,VIN (1-10),Model Year,Make,Model,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
0,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,35.0,Used,0,NaN,Registration Renewal,July 10 2020,2020,BELLEVUE,WA,98007.0
1,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,35.0,Used,0,NaN,Registration Renewal,July 23 2021,2021,BELLEVUE,WA,98007.0
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
3,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,215.0,New,0,NaN,Original Registration,June 06 2018,2018,SEATTLE,WA,98105.0
4,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,215.0,Used,0,NaN,Registration Renewal,April 18 2019,2019,SEATTLE,WA,98105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
740271,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,NaN,Registration Renewal,August 04 2016,2016,LYNNWOOD,WA,98037.0
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [102]:
# rename VIN 1-10 to Vehicle_Id
clean_data.rename(columns={'VIN (1-10)':'Vehicle_Id'}, inplace=True)

In [103]:
# rename VIN 1-10 to Vehicle_Id
clean_data.rename(columns=
{'VIN (1-10)':'Vehicle_Id'}, inplace=True)

In [104]:
# Pandas Dropna – How to drop missing values
# pandas.DataFrame.dropna(axis = 0, how =’any’, thresh = None, subset = None, inplace=False)
clean_car_data=clean_data.dropna(axis = 0, how ='any', thresh = None, subset = None, inplace=False)
clean_car_data

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Make,Model,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
6,Plug-in Hybrid Electric Vehicle (PHEV),1G1RB6S53H,2017,CHEVROLET,Volt,53.0,New,37570,January 13 2017,Original Title,February 22 2017,2017,RENTON,WA,98055.0
15,Plug-in Hybrid Electric Vehicle (PHEV),5UXKT0C55J,2018,BMW,X5,13.0,Used,46495,January 26 2021,Transfer Title,February 23 2021,2021,RENTON,WA,98055.0
16,Battery Electric Vehicle (BEV),7SAXCAE51P,2023,TESLA,Model X,0.0,New,109790,October 15 2022,Original Title,November 03 2022,2022,VANCOUVER,WA,98664.0
18,Battery Electric Vehicle (BEV),KNDC4DLC1P,2023,KIA,EV6,0.0,New,59485,April 18 2023,Original Title,May 02 2023,2023,SEATTLE,WA,98115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740264,Battery Electric Vehicle (BEV),5YJSA1CG1D,2013,TESLA,Model S,208.0,New,0,May 09 2013,Original Registration,June 06 2013,2013,SEATTLE,WA,98119.0
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [105]:
unique_model =clean_car_data['Model Year'].unique()
unique_model

array([2018, 2017, 2023, 2019, 2016, 2020, 2021, 2013, 2015, 2014, 2022,
       2011, 2012, 2010, 2024, 2008, 2000, 1999, 1998, 1993, 2003, 1997],
      dtype=int64)

In [106]:
unique_mark = clean_car_data['Make'].unique()
unique_mark

array(['TESLA', 'CHEVROLET', 'BMW', 'KIA', 'VOLKSWAGEN', 'NISSAN',
       'CHRYSLER', 'FORD', 'VOLVO', 'JAGUAR', 'HYUNDAI', 'PORSCHE',
       'LINCOLN', 'RIVIAN', 'MINI', 'TOYOTA', 'AUDI', 'FIAT', 'SUBARU',
       'SMART', 'JEEP', 'MERCEDES-BENZ', 'POLESTAR', 'CADILLAC', 'HONDA',
       'LUCID', 'MITSUBISHI', 'LEXUS', 'FISKER', 'LAND ROVER', 'GENESIS',
       'MAZDA', 'AZURE DYNAMICS', 'BUBBLE BUDDY', 'TH!NK',
       'WHEEGO ELECTRIC CARS', 'DODGE', 'BENTLEY'], dtype=object)

In [107]:
# creat datafram from clean_care_data and save in csv file 
electric_car_data =pd.DataFrame(clean_car_data)
electric_car_data

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Make,Model,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
6,Plug-in Hybrid Electric Vehicle (PHEV),1G1RB6S53H,2017,CHEVROLET,Volt,53.0,New,37570,January 13 2017,Original Title,February 22 2017,2017,RENTON,WA,98055.0
15,Plug-in Hybrid Electric Vehicle (PHEV),5UXKT0C55J,2018,BMW,X5,13.0,Used,46495,January 26 2021,Transfer Title,February 23 2021,2021,RENTON,WA,98055.0
16,Battery Electric Vehicle (BEV),7SAXCAE51P,2023,TESLA,Model X,0.0,New,109790,October 15 2022,Original Title,November 03 2022,2022,VANCOUVER,WA,98664.0
18,Battery Electric Vehicle (BEV),KNDC4DLC1P,2023,KIA,EV6,0.0,New,59485,April 18 2023,Original Title,May 02 2023,2023,SEATTLE,WA,98115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740264,Battery Electric Vehicle (BEV),5YJSA1CG1D,2013,TESLA,Model S,208.0,New,0,May 09 2013,Original Registration,June 06 2013,2013,SEATTLE,WA,98119.0
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [108]:
# aanlysis elcetric car sata model acourding our data is1993 1 
data_group_by_model_year =clean_car_data.groupby('Model Year').count()
data_group_by_model_year.head(3)

electric_df =pd.DataFrame(data_group_by_model_year)
electric_df

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Make,Model,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
Model Year,,,,,,,,,,,,,,
1993,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1997,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1998,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1999,5,5,5,5,5,5,5,5,5,5,5,5,5,5
2000,22,22,22,22,22,22,22,22,22,22,22,22,22,22
2003,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2008,26,26,26,26,26,26,26,26,26,26,26,26,26,26
2010,93,93,93,93,93,93,93,93,93,93,93,93,93,93
2011,4047,4047,4047,4047,4047,4047,4047,4047,4047,4047,4047,4047,4047,4047
2012,7885,7885,7885,7885,7885,7885,7885,7885,7885,7885,7885,7885,7885,7885
2013,20386,20386,20386,20386,20386,20386,20386,20386,20386,20386,20386,20386,20386,20386
2014,12286,12286,12286,12286,12286,12286,12286,12286,12286,12286,12286,12286,12286,12286
2015,16595,16595,16595,16595,16595,16595,16595,16595,16595,16595,16595,16595,16595,16595
2016,16269,16269,16269,16269,16269,16269,16269,16269,16269,16269,16269,16269,16269,16269
2017,16554,16554,16554,16554,16554,16554,16554,16554,16554,16554,16554,16554,16554,16554
2018,21481,21481,21481,21481,21481,21481,21481,21481,21481,21481,21481,21481,21481,21481
2019,15989,15989,15989,15989,15989,15989,15989,15989,15989,15989,15989,15989,15989,15989
2020,14860,14860,14860,14860,14860,14860,14860,14860,14860,14860,14860,14860,14860,14860
2021,22048,22048,22048,22048,22048,22048,22048,22048,22048,22048,22048,22048,22048,22048
2022,30456,30456,30456,30456,30456,30456,30456,30456,30456,30456,30456,30456,30456,30456
2023,22394,22394,22394,22394,22394,22394,22394,22394,22394,22394,22394,22394,22394,22394
2024,30,30,30,30,30,30,30,30,30,30,30,30,30,30

In [109]:
sale_price= clean_car_data['Sale Price'].unique()
sale_price

array([55000, 37570, 46495, ..., 94561, 40226,  3401], dtype=int64)

In [110]:
clean_car_data.rpow

<bound method _arith_method_FRAME.<locals>.f of            Clean Alternative Fuel Vehicle Type  Vehicle_Id  Model Year  \
2               Battery Electric Vehicle (BEV)  5YJ3E1EA0J        2018
6       Plug-in Hybrid Electric Vehicle (PHEV)  1G1RB6S53H        2017
15      Plug-in Hybrid Electric Vehicle (PHEV)  5UXKT0C55J        2018
16              Battery Electric Vehicle (BEV)  7SAXCAE51P        2023
18              Battery Electric Vehicle (BEV)  KNDC4DLC1P        2023
...                                        ...         ...         ...
740264          Battery Electric Vehicle (BEV)  5YJSA1CG1D        2013
740269          Battery Electric Vehicle (BEV)  1N4AZ0CP2D        2013
740270          Battery Electric Vehicle (BEV)  1N4AZ0CP2D        2013
740272          Battery Electric Vehicle (BEV)  1N4AZ0CP7D        2013
740273          Battery Electric Vehicle (BEV)  1N4AZ0CP7D        2013

             Make    Model  Electric Range New or Used Vehicle  Sale Price  \
2           TESLA  Model 3           215.0                 New       55000
6       CHEVROLET     Volt            53.0                 New       37570
15            BMW       X5            13.0                Used       46495
16          TESLA  Model X             0.0                 New      109790
18            KIA      EV6             0.0                 New       59485
...           ...      ...             ...                 ...         ...
740264      TESLA  Model S           208.0                 New           0
740269     NISSAN     Leaf            75.0                Used           0
740270     NISSAN     Leaf            75.0                Used           0
740272     NISSAN     Leaf            75.0                 New           0
740273     NISSAN     Leaf            75.0                 New           0

              Sale Date       Transaction Type DOL Transaction Date  \
2           May 23 2018         Original Title         June 06 2018
6       January 13 2017         Original Title     February 22 2017
15      January 26 2021         Transfer Title     February 23 2021
16      October 15 2022         Original Title     November 03 2022
18        April 18 2023         Original Title          May 02 2023
...                 ...                    ...                  ...
740264      May 09 2013  Original Registration         June 06 2013
740269     July 31 2015  Original Registration       August 19 2015
740270     July 31 2015         Original Title       August 19 2015
740272     July 18 2013  Original Registration       August 06 2013
740273     July 18 2013         Original Title       August 06 2013

        Transaction Year       City State of Residence  Postal Code
2                   2018    SEATTLE                 WA      98105.0
6                   2017     RENTON                 WA      98055.0
15                  2021     RENTON                 WA      98055.0
16                  2022  VANCOUVER                 WA      98664.0
18                  2023    SEATTLE                 WA      98115.0
...                  ...        ...                ...          ...
740264              2013    SEATTLE                 WA      98119.0
740269              2015   LYNNWOOD                 WA      98037.0
740270              2015   LYNNWOOD                 WA      98037.0
740272              2013    PACIFIC                 WA      98047.0
740273              2013    PACIFIC                 WA      98047.0

[221432 rows x 15 columns]>

In [ ]:
# # Pandas Dropna – How to drop missing values?

# # Syntax: pandas.DataFrame.dropna(axis = 0, how =’any’, thresh = None, subset = None, inplace=False)
# electric_vehicle=electric_car.dropna(axis = 0, how ='any', thresh = None, subset = None, inplace=False)
# electric_vehicle

In [111]:
# Reference multiple columns within a Data electric_car to analysisthe data car make in where cities been used 

car_city_data=electric_car_data[["City","Make","Model Year","DOL Transaction Date","Transaction Type","New or Used Vehicle"]].head()
car_city_data

,City,Make,Model Year,DOL Transaction Date,Transaction Type,New or Used Vehicle
2,SEATTLE,TESLA,2018,June 06 2018,Original Title,New
6,RENTON,CHEVROLET,2017,February 22 2017,Original Title,New
15,RENTON,BMW,2018,February 23 2021,Transfer Title,Used
16,VANCOUVER,TESLA,2023,November 03 2022,Original Title,New
18,SEATTLE,KIA,2023,May 02 2023,Original Title,New

In [112]:
# create dataFram car_make_data to sorle by city make,model years and newor use 
car_make_data=electric_car_data[["Make","Model Year","New or Used Vehicle","City",]]
car_make_data

             Make  Model Year New or Used Vehicle       City
2           TESLA        2018                 New    SEATTLE
6       CHEVROLET        2017                 New     RENTON
15            BMW        2018                Used     RENTON
16          TESLA        2023                 New  VANCOUVER
18            KIA        2023                 New    SEATTLE
...           ...         ...                 ...        ...
740264      TESLA        2013                 New    SEATTLE
740269     NISSAN        2013                Used   LYNNWOOD
740270     NISSAN        2013                Used   LYNNWOOD
740272     NISSAN        2013                 New    PACIFIC
740273     NISSAN        2013                 New    PACIFIC

[221432 rows x 4 columns]

In [ ]:
sale_date= clean_car_data['Sale Date'].value_counts()
sale_date

In [113]:
# Generate a summary statistics table of mean, median, 
# Use groupby and summary statistical methods to calculate the following properties of each sale 


mean = clean_car_data['Sale Price'].groupby(clean_car_data ['Make']).mean()
median = clean_car_data['Sale Price'].groupby(clean_car_data ['Make']).median()
max = clean_car_data['Sale Price'].groupby(clean_car_data ['Make']).max()
min = clean_car_data['Sale Price'].groupby(clean_car_data['Make']).min()

In [115]:
summary_sale_data = pd.DataFrame({
    'car sale mean': mean,
    'car sale median': median,
    'car sale max': max,
    'car sale min': min
})

summary_sale_data

,car sale mean,car sale median,car sale max,car sale min
Make,,,,
AUDI,54149.662324,59364.0,189390,0
AZURE DYNAMICS,3399.083333,750.0,13750,0
BENTLEY,227158.333333,236000.0,277475,168000
BMW,36133.926524,29999.0,474160,0
BUBBLE BUDDY,6778.000000,6778.0,6778,6778
CADILLAC,21246.753205,18306.5,499956,0
CHEVROLET,18488.895510,17308.0,170000,0
CHRYSLER,43516.494935,46021.0,121918,0
DODGE,0.000000,0.0,0,0
FIAT,8813.458280,8995.0,940325,0
FISKER,12282.077922,0.0,110000,0
FORD,20989.376710,12000.0,349990,0
GENESIS,70450.209677,70220.0,81710,59290
HONDA,27967.117267,33118.0,55075,0
HYUNDAI,44675.251868,48957.5,72492,0
JAGUAR,64683.928571,68662.5,96077,0
JEEP,61520.111603,60660.0,779995,0
KIA,35418.632020,38980.0,78030,0
LAND ROVER,85370.533333,92849.0,138645,0
LEXUS,57964.300000,63602.5,72065,0
LINCOLN,72015.606557,74980.5,97000,0
LUCID,137074.465753,140500.0,186650,100350
MAZDA,52166.916667,57185.0,59012,0
MERCEDES-BENZ,64554.847441,51959.5,199190,0
MINI,34072.493003,35000.0,275353,0
MITSUBISHI,26852.062009,34300.0,57879,0
NISSAN,9551.046203,0.0,12312016,0
POLESTAR,59911.987603,62100.0,75000,0
PORSCHE,97620.218638,99920.0,1500000,0
RIVIAN,80217.634929,78375.0,149950,0
SMART,7542.668325,6000.0,169000,0
SUBARU,45753.114187,50115.0,64360,0
TESLA,52863.007736,55190.0,11032022,0
TH!NK,4828.400000,4000.0,9000,0
TOYOTA,22894.675453,27750.0,288895,0
VOLKSWAGEN,37646.893733,44870.0,490355,0
VOLVO,57120.153420,60540.0,541250,0
WHEEGO ELECTRIC CARS,200.000000,0.0,2250,0

In [131]:
#  summary_sale save transfer to csv file
electric_car_data.to_csv("Resources/electric_car_data.csv", index=False)
electric_car_data

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Make,Model,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
6,Plug-in Hybrid Electric Vehicle (PHEV),1G1RB6S53H,2017,CHEVROLET,Volt,53.0,New,37570,January 13 2017,Original Title,February 22 2017,2017,RENTON,WA,98055.0
15,Plug-in Hybrid Electric Vehicle (PHEV),5UXKT0C55J,2018,BMW,X5,13.0,Used,46495,January 26 2021,Transfer Title,February 23 2021,2021,RENTON,WA,98055.0
16,Battery Electric Vehicle (BEV),7SAXCAE51P,2023,TESLA,Model X,0.0,New,109790,October 15 2022,Original Title,November 03 2022,2022,VANCOUVER,WA,98664.0
18,Battery Electric Vehicle (BEV),KNDC4DLC1P,2023,KIA,EV6,0.0,New,59485,April 18 2023,Original Title,May 02 2023,2023,SEATTLE,WA,98115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740264,Battery Electric Vehicle (BEV),5YJSA1CG1D,2013,TESLA,Model S,208.0,New,0,May 09 2013,Original Registration,June 06 2013,2013,SEATTLE,WA,98119.0
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [116]:
#  summary_sale save transfer to csv file
summary_sale_data.to_csv("Resources/summary_sale_data.csv", index=False)
summary_sale_data

,car sale mean,car sale median,car sale max,car sale min
Make,,,,
AUDI,54149.662324,59364.0,189390,0
AZURE DYNAMICS,3399.083333,750.0,13750,0
BENTLEY,227158.333333,236000.0,277475,168000
BMW,36133.926524,29999.0,474160,0
BUBBLE BUDDY,6778.000000,6778.0,6778,6778
CADILLAC,21246.753205,18306.5,499956,0
CHEVROLET,18488.895510,17308.0,170000,0
CHRYSLER,43516.494935,46021.0,121918,0
DODGE,0.000000,0.0,0,0
FIAT,8813.458280,8995.0,940325,0
FISKER,12282.077922,0.0,110000,0
FORD,20989.376710,12000.0,349990,0
GENESIS,70450.209677,70220.0,81710,59290
HONDA,27967.117267,33118.0,55075,0
HYUNDAI,44675.251868,48957.5,72492,0
JAGUAR,64683.928571,68662.5,96077,0
JEEP,61520.111603,60660.0,779995,0
KIA,35418.632020,38980.0,78030,0
LAND ROVER,85370.533333,92849.0,138645,0
LEXUS,57964.300000,63602.5,72065,0
LINCOLN,72015.606557,74980.5,97000,0
LUCID,137074.465753,140500.0,186650,100350
MAZDA,52166.916667,57185.0,59012,0
MERCEDES-BENZ,64554.847441,51959.5,199190,0
MINI,34072.493003,35000.0,275353,0
MITSUBISHI,26852.062009,34300.0,57879,0
NISSAN,9551.046203,0.0,12312016,0
POLESTAR,59911.987603,62100.0,75000,0
PORSCHE,97620.218638,99920.0,1500000,0
RIVIAN,80217.634929,78375.0,149950,0
SMART,7542.668325,6000.0,169000,0
SUBARU,45753.114187,50115.0,64360,0
TESLA,52863.007736,55190.0,11032022,0
TH!NK,4828.400000,4000.0,9000,0
TOYOTA,22894.675453,27750.0,288895,0
VOLKSWAGEN,37646.893733,44870.0,490355,0
VOLVO,57120.153420,60540.0,541250,0
WHEEGO ELECTRIC CARS,200.000000,0.0,2250,0

In [117]:
# export electric_car as CSV files.
electric_car_data.to_csv("Resources/electric_car_data.csv", index=False)
electric_car_data

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Make,Model,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
6,Plug-in Hybrid Electric Vehicle (PHEV),1G1RB6S53H,2017,CHEVROLET,Volt,53.0,New,37570,January 13 2017,Original Title,February 22 2017,2017,RENTON,WA,98055.0
15,Plug-in Hybrid Electric Vehicle (PHEV),5UXKT0C55J,2018,BMW,X5,13.0,Used,46495,January 26 2021,Transfer Title,February 23 2021,2021,RENTON,WA,98055.0
16,Battery Electric Vehicle (BEV),7SAXCAE51P,2023,TESLA,Model X,0.0,New,109790,October 15 2022,Original Title,November 03 2022,2022,VANCOUVER,WA,98664.0
18,Battery Electric Vehicle (BEV),KNDC4DLC1P,2023,KIA,EV6,0.0,New,59485,April 18 2023,Original Title,May 02 2023,2023,SEATTLE,WA,98115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740264,Battery Electric Vehicle (BEV),5YJSA1CG1D,2013,TESLA,Model S,208.0,New,0,May 09 2013,Original Registration,June 06 2013,2013,SEATTLE,WA,98119.0
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [118]:
count_row = electric_car.shape[0]
count_row

221021

In [120]:
# export car_city as CSV files.
car_city_data.to_csv("Resources/city_car_data.csv", index=False)
car_city_data

,City,Make,Model Year,DOL Transaction Date,Transaction Type,New or Used Vehicle
2,SEATTLE,TESLA,2018,June 06 2018,Original Title,New
6,RENTON,CHEVROLET,2017,February 22 2017,Original Title,New
15,RENTON,BMW,2018,February 23 2021,Transfer Title,Used
16,VANCOUVER,TESLA,2023,November 03 2022,Original Title,New
18,SEATTLE,KIA,2023,May 02 2023,Original Title,New

In [119]:
# export car_make as CSV files.
car_make_data.to_csv("Resources/car_make.csv", index=False)
car_make_data

             Make  Model Year New or Used Vehicle       City
2           TESLA        2018                 New    SEATTLE
6       CHEVROLET        2017                 New     RENTON
15            BMW        2018                Used     RENTON
16          TESLA        2023                 New  VANCOUVER
18            KIA        2023                 New    SEATTLE
...           ...         ...                 ...        ...
740264      TESLA        2013                 New    SEATTLE
740269     NISSAN        2013                Used   LYNNWOOD
740270     NISSAN        2013                Used   LYNNWOOD
740272     NISSAN        2013                 New    PACIFIC
740273     NISSAN        2013                 New    PACIFIC

[221432 rows x 4 columns]

In [133]:
# Export datafram  to json df.to_json(path, orient='records')
electric_car_data.to_json('electric_car_data', orient='records')

In [126]:
# Export datafram  to json df.to_json(path, orient='records')
car_city_data.to_json('car_city_data.json', orient='records')

In [127]:
# Export datafram  to json df.to_json(path, orient='records')
car_make_data.to_json('car_make_data.json', orient='records')

In [128]:
# Export datafram  to json df.to_json(path, orient='records')
summary_sale_data.to_json('car_sale_data.json', orient='records')